<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b6e08b67-2def-4206-884c-a822631295f5" Alias="authors" Level="2">
  <Info>
    <Name>Authors</Name>
    <Icon>icon-users-alt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Authors</Folder>
    <Compositions>
      <Composition Key="00dae19c-3ace-4e99-8152-4aed2e054b12">page</Composition>
    </Compositions>
    <DefaultTemplate>Authors</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="4994525d-1b40-4f6e-ad75-9c9f72268326">Authors</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="af3a63c5-6cdc-4f23-8570-6d47f1ae4e66" SortOrder="0">blogAuthor</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>