<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d5043881-8db1-4d80-b397-d0df37c93d04" Alias="blogs" Level="2">
  <Info>
    <Name>Blogs</Name>
    <Icon>icon-document color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Blog+Post</Folder>
    <Compositions>
      <Composition Key="00dae19c-3ace-4e99-8152-4aed2e054b12">page</Composition>
    </Compositions>
    <DefaultTemplate>Blogs</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="0e701155-e893-4229-b0bb-5b7a9d6a59cc">Blogs</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>0f1a6550-87d3-4566-a512-2d6d5aca1581</Key>
      <Name>Blog Content</Name>
      <Alias>blogContent</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content1">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>3354ecf9-7f64-4769-a84b-6fa179755f70</Key>
      <Caption>Content</Caption>
      <Alias>content1</Alias>
      <Type>Tab</Type>
      <SortOrder>2</SortOrder>
    </Tab>
  </Tabs>
</ContentType>