<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="022798a8-fe9d-40bd-865c-df046663975e" Alias="blog" Level="2">
  <Info>
    <Name>Blog</Name>
    <Icon>icon-documents color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Blog+Post</Folder>
    <Compositions>
      <Composition Key="00dae19c-3ace-4e99-8152-4aed2e054b12">page</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="d5043881-8db1-4d80-b397-d0df37c93d04" SortOrder="0">blogs</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>