<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c119d790-0ee7-430a-ad16-c1b326eca7e8" Alias="home" Level="1">
  <Info>
    <Name>Home</Name>
    <Icon>icon-home color-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="eceb79aa-b81e-45d8-a908-7b297895b2cd">layout</Composition>
      <Composition Key="00dae19c-3ace-4e99-8152-4aed2e054b12">page</Composition>
    </Compositions>
    <DefaultTemplate>Home</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="3529632e-c577-4c21-9a5c-719e3c4b9971">Home</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="1a5a76f6-7620-479d-af26-dbe1c941feec" SortOrder="0">about</ContentType>
    <ContentType Key="022798a8-fe9d-40bd-865c-df046663975e" SortOrder="1">blog</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>782e1dbb-d869-4b6c-9b5a-3ce90bf70312</Key>
      <Name>Social Media Picker</Name>
      <Alias>socialMediaPicker</Alias>
      <Definition>951e5f3a-6f29-44c9-92a2-dd0e842466a4</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="lauoutSettings/footer">Footer</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>738cd97b-2157-4685-ac23-3e2667d16014</Key>
      <Caption>Footer</Caption>
      <Alias>lauoutSettings/footer</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>