<!DOCTYPE html>
<html lang="en">
<head>
    <vc:meta-data/>
    <partial name="Bundles/_StyleSheetBundles"/>
    
</head>
<body>
    <!-- Navigation-->
    <vc:navbar/>
    <!-- Page Header-->
    <vc:header/>
    <!-- Main Content ofg Page -->

     @* Render the Home.cshtml Page Data  *@
    @RenderBody()


   <!-- Footer-->
   <vc:footer/>
   <!-- JavaScript Links Bundles -->
  <partial name="Bundles/_JavaScriptBundles"/>
</body>
</html>