<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0a3ad812-0801-41be-b0bc-67f67f6be604" Alias="Blog Author - User Picker" Level="1">
  <Info>
    <Name>Blog Author - User Picker</Name>
    <EditorAlias>Umbraco.UserPicker</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>