@using Umbraco13BlogSite.App_Code.Models.ViewComponentModels
@model IEnumerable<BlogView>


<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <!-- Post preview-->
            @foreach (var item in Model ?? new List<BlogView>())
            {
                <div class="post-preview">
                    <a href="@item?.BlogUrl">
                        <h2 class="post-title">@item?.Title</h2>
                        <h3 class="post-subtitle">@item?.SubTitle</h3>
                    </a>
                    <p class="post-meta">
                        Posted by
                        <a href="#!">@item?.CreatedBy</a>
                        on @item?.CreatedDate
                    </p>
                </div>
                <!-- Divider-->
                <hr class="my-4" />
            }
           
           
            <!-- Pager-->
            <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a></div>
        </div>
    </div>
</div>
