<?xml version="1.0" encoding="utf-8"?>
<Media Key="f8f51f6b-a816-4233-86cb-eca821198dc9" Alias="About Bg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/AboutBg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-04-02T12:36:57</CreateDate>
    <NodeName Default="About Bg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/nuppl4aw/about-bg.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>