<?xml version="1.0" encoding="utf-8"?>
<Media Key="b2b07234-58ec-4cb5-98c4-064ebdd34dcb" Alias="Carimage" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Carimage</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-04-01T16:40:55</CreateDate>
    <NodeName Default="Carimage" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/gjzlbmxm/carimage.jfif"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>