<?xml version="1.0" encoding="utf-8"?>
<Media Key="3309e0ed-5c01-469f-b444-a59dc58abf2c" Alias="Home Bg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HomeBg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-04-02T13:13:46</CreateDate>
    <NodeName Default="Home Bg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/3pqasmyb/home-bg.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>