<?xml version="1.0" encoding="utf-8"?>
<Content Key="aa72a135-7731-404e-8527-53f28f7df2af" Alias="About" Level="2">
  <Info>
    <Parent Key="b13956c6-b098-4c5c-8951-9f78412384b3">Home</Parent>
    <Path>/Home/About</Path>
    <Trashed>false</Trashed>
    <ContentType>about</ContentType>
    <CreateDate>2024-04-01T15:47:34</CreateDate>
    <NodeName Default="About" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f55781cb-6348-47ce-a5c6-468d31f54b86">About</Template>
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[About Author ]]></Value>
    </author>
    <bodyContent>
      <Value><![CDATA[{
  "markup": "<div>\n<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe nostrum ullam eveniet pariatur voluptates odit, fuga atque ea nobis sit soluta odio, adipisci quas excepturi maxime quae totam ducimus consectetur?</div>\n<div></div>\n<div></div>\n<div>\n<div>\n<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius praesentium recusandae illo eaque architecto error, repellendus iusto reprehenderit, doloribus, minus sunt. Numquam at quae voluptatum in officia voluptas voluptatibus, minus!</div>\n<div></div>\n<div></div>\n<div>\n<div>\n<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut consequuntur magnam, excepturi aliquid ex itaque esse est vero natus quae optio aperiam soluta voluptatibus corporis atque iste neque sit tempora!</div>\n</div>\n</div>\n</div>\n</div>\n</div>\n<p>&nbsp;</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </bodyContent>
    <description>
      <Value><![CDATA[This is About Author ]]></Value>
    </description>
    <displayOnNavbar>
      <Value><![CDATA[1]]></Value>
    </displayOnNavbar>
    <pageBanner>
      <Value><![CDATA[[
  {
    "key": "725a565b-1d42-4c3b-9be9-4cf00244fea3",
    "mediaKey": "f8f51f6b-a816-4233-86cb-eca821198dc9"
  }
]]]></Value>
    </pageBanner>
    <subTitle>
      <Value><![CDATA[This is What I do]]></Value>
    </subTitle>
    <title>
      <Value><![CDATA[About Me ]]></Value>
    </title>
  </Properties>
</Content>