<?xml version="1.0" encoding="utf-8"?>
<Content Key="2a148d2c-2caa-4290-8566-eab336e9b111" Alias="Authors" Level="2">
  <Info>
    <Parent Key="b13956c6-b098-4c5c-8951-9f78412384b3">Home</Parent>
    <Path>/Home/Authors</Path>
    <Trashed>false</Trashed>
    <ContentType>authors</ContentType>
    <CreateDate>2024-04-18T15:57:16</CreateDate>
    <NodeName Default="Authors" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4994525d-1b40-4f6e-ad75-9c9f72268326">Authors</Template>
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[]]></Value>
    </author>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <displayOnNavbar>
      <Value><![CDATA[1]]></Value>
    </displayOnNavbar>
    <pageBanner>
      <Value><![CDATA[[
  {
    "key": "c9c08197-b925-45e8-b77c-4ba7fc4c9a37",
    "mediaKey": "f8f51f6b-a816-4233-86cb-eca821198dc9"
  }
]]]></Value>
    </pageBanner>
    <subTitle>
      <Value><![CDATA[Authors  SubTitle]]></Value>
    </subTitle>
    <title>
      <Value><![CDATA[Authors Title]]></Value>
    </title>
  </Properties>
</Content>