<?xml version="1.0" encoding="utf-8"?>
<Content Key="1f490d2a-a974-4e8a-9546-b0fd088a5a1f" Alias="Blogs" Level="2">
  <Info>
    <Parent Key="b13956c6-b098-4c5c-8951-9f78412384b3">Home</Parent>
    <Path>/Home/Blogs</Path>
    <Trashed>false</Trashed>
    <ContentType>blog</ContentType>
    <CreateDate>2024-04-04T11:38:12</CreateDate>
    <NodeName Default="Blogs" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[]]></Value>
    </author>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <displayOnNavbar>
      <Value><![CDATA[1]]></Value>
    </displayOnNavbar>
    <pageBanner>
      <Value><![CDATA[[]]]></Value>
    </pageBanner>
    <subTitle>
      <Value><![CDATA[Problems look mighty small from 150 miles up]]></Value>
    </subTitle>
    <title>
      <Value><![CDATA[Man must explore, and this is exploration at its greatest]]></Value>
    </title>
  </Properties>
</Content>