<?xml version="1.0" encoding="utf-8"?>
<Content Key="f8d0f9b2-100d-443c-bba7-2a24309a8e76" Alias="Blogs" Level="2">
  <Info>
    <Parent Key="b13956c6-b098-4c5c-8951-9f78412384b3">Home</Parent>
    <Path>/Home/Blogs</Path>
    <Trashed>false</Trashed>
    <ContentType>blogs</ContentType>
    <CreateDate>2024-04-08T11:13:54</CreateDate>
    <NodeName Default="Blogs" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[]]></Value>
    </author>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <displayOnNavbar>
      <Value><![CDATA[0]]></Value>
    </displayOnNavbar>
    <numberOfBlogs>
      <Value><![CDATA[1]]></Value>
    </numberOfBlogs>
    <pageBanner>
      <Value><![CDATA[[
  {
    "key": "0f65e46c-89df-47e8-bf6c-109c3d3013fe",
    "mediaKey": "96a535a9-d6ec-47ef-a2be-ae457f1af92b"
  }
]]]></Value>
    </pageBanner>
    <subTitle>
      <Value><![CDATA[just a checking]]></Value>
    </subTitle>
    <title>
      <Value><![CDATA[I believe every human has a finite number of heartbeats. I don't intend to waste any of mine.]]></Value>
    </title>
  </Properties>
</Content>