<?xml version="1.0" encoding="utf-8"?>
<Content Key="b13956c6-b098-4c5c-8951-9f78412384b3" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2024-04-01T15:17:04</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3529632e-c577-4c21-9a5c-719e3c4b9971">Home</Template>
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[Home Author]]></Value>
    </author>
    <description>
      <Value><![CDATA[This is Home Author ]]></Value>
    </description>
    <displayOnNavbar>
      <Value><![CDATA[1]]></Value>
    </displayOnNavbar>
    <footerLink>
      <Value><![CDATA[[
  {
    "name": "About",
    "udi": "umb://document/aa72a1357731404e852753f28f7df2af"
  }
]]]></Value>
    </footerLink>
    <logo>
      <Value><![CDATA[[]]]></Value>
    </logo>
    <pageBanner>
      <Value><![CDATA[[
  {
    "key": "8458d62f-44cb-4a0d-9ee1-5f0071953007",
    "mediaKey": "3309e0ed-5c01-469f-b444-a59dc58abf2c"
  }
]]]></Value>
    </pageBanner>
    <siteName>
      <Value><![CDATA[BlogSite]]></Value>
    </siteName>
    <socialMediaPicker>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/1ce2bb6e2c3742a183dd92353d733eff"
      },
      {
        "contentUdi": "umb://element/879d55aa560549c1ad12887404909e56"
      },
      {
        "contentUdi": "umb://element/da5ce79a1760456fb299c30ed233273d"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "394630fe-5e33-4da0-bd3a-78e41b2412c6",
      "udi": "umb://element/1ce2bb6e2c3742a183dd92353d733eff",
      "socialMediaURL": "https://localhost:44350/Umbraco#/content/content/edit/1057",
      "icon": {
        "icon": "fa-facebook",
        "packageId": "25c6efe5-c561-4487-b1df-2f5a63f77baf"
      },
      "target": [
        "_self"
      ]
    },
    {
      "contentTypeKey": "394630fe-5e33-4da0-bd3a-78e41b2412c6",
      "udi": "umb://element/879d55aa560549c1ad12887404909e56",
      "socialMediaURL": "https://localhost:44350/Umbraco#/content/content/edit/1057",
      "icon": {
        "icon": "fa-twitter",
        "packageId": "25c6efe5-c561-4487-b1df-2f5a63f77baf"
      },
      "target": [
        "_self"
      ]
    },
    {
      "contentTypeKey": "394630fe-5e33-4da0-bd3a-78e41b2412c6",
      "udi": "umb://element/da5ce79a1760456fb299c30ed233273d",
      "socialMediaURL": "https://localhost:44350/Umbraco#/content/content/edit/1057",
      "icon": {
        "icon": "fa-youtube",
        "packageId": "25c6efe5-c561-4487-b1df-2f5a63f77baf"
      },
      "target": [
        "_self"
      ]
    }
  ],
  "settingsData": []
}]]></Value>
    </socialMediaPicker>
    <subTitle>
      <Value><![CDATA[A Blog Theme by Start Bootstrap]]></Value>
    </subTitle>
    <title>
      <Value><![CDATA[Clean Blog]]></Value>
    </title>
  </Properties>
</Content>