<?xml version="1.0" encoding="utf-8"?>
<Content Key="f06d9b52-284b-4670-abb4-f7ae57c29195" Alias="I believe every human has a finite number of heartbeats. I don't intend to waste any of mine" Level="3">
  <Info>
    <Parent Key="f8d0f9b2-100d-443c-bba7-2a24309a8e76">Blogs</Parent>
    <Path>/Home/Blogs/IBelieveEveryHumanHasAFiniteNumberOfHeartbeatsIDontIntendToWasteAnyOfMine</Path>
    <Trashed>false</Trashed>
    <ContentType>blog</ContentType>
    <CreateDate>2024-04-15T11:39:59</CreateDate>
    <NodeName Default="I believe every human has a finite number of heartbeats. I don't intend to waste any of mine" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4df66a89-e762-47f0-b426-eb9d4292e2d7">Blog</Template>
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[]]></Value>
    </author>
    <blogContent>
      <Value><![CDATA[]]></Value>
    </blogContent>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <displayOnNavbar>
      <Value><![CDATA[0]]></Value>
    </displayOnNavbar>
    <pageBanner>
      <Value><![CDATA[[
  {
    "key": "cde93135-4ebd-4f90-baa9-f106bab060ab",
    "mediaKey": "96a535a9-d6ec-47ef-a2be-ae457f1af92b"
  }
]]]></Value>
    </pageBanner>
    <subTitle>
      <Value><![CDATA[checking this ]]></Value>
    </subTitle>
    <title>
      <Value><![CDATA[I believe every human has a finite number of heartbeats. I don't intend to waste any of mine.]]></Value>
    </title>
  </Properties>
</Content>