<?xml version="1.0" encoding="utf-8"?>
<Content Key="627778f0-4c87-4a12-925f-2b1ce780e427" Alias="Muhammad Huzaifa" Level="3">
  <Info>
    <Parent Key="2a148d2c-2caa-4290-8566-eab336e9b111">Authors</Parent>
    <Path>/Home/Authors/MuhammadHuzaifa</Path>
    <Trashed>false</Trashed>
    <ContentType>blogAuthor</ContentType>
    <CreateDate>2024-04-18T16:03:33</CreateDate>
    <NodeName Default="Muhammad Huzaifa" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="453c7abf-8ac4-4a73-bed5-9f833b5ec1e5">BlogAuthor</Template>
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[]]></Value>
    </author>
    <authorAvatar>
      <Value><![CDATA[[
  {
    "key": "b31b09b4-c7e5-4339-b60a-fc3189a49520",
    "mediaKey": "27596295-5d90-4567-b6f7-b5a5da638792"
  }
]]]></Value>
    </authorAvatar>
    <authorDetails>
      <Value><![CDATA[{
  "markup": "<p>Bio oooooooooooooooooo</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </authorDetails>
    <authorName>
      <Value><![CDATA[-1]]></Value>
    </authorName>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <displayOnNavbar>
      <Value><![CDATA[1]]></Value>
    </displayOnNavbar>
    <pageBanner>
      <Value><![CDATA[[
  {
    "key": "43a715b2-74f3-4b42-9d03-88fa5ef2000d",
    "mediaKey": "b2b07234-58ec-4cb5-98c4-064ebdd34dcb"
  }
]]]></Value>
    </pageBanner>
    <socialMedia>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/f9a225a1310f4fbea38bf35e6b078109"
      },
      {
        "contentUdi": "umb://element/caac8014874847a9bbc0265f9c65b592"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "394630fe-5e33-4da0-bd3a-78e41b2412c6",
      "udi": "umb://element/f9a225a1310f4fbea38bf35e6b078109",
      "socialMediaURL": "https://www.facebook.com/",
      "icon": {
        "icon": "fa-facebook",
        "packageId": "25c6efe5-c561-4487-b1df-2f5a63f77baf"
      },
      "target": [
        "_blank"
      ]
    },
    {
      "contentTypeKey": "394630fe-5e33-4da0-bd3a-78e41b2412c6",
      "udi": "umb://element/caac8014874847a9bbc0265f9c65b592",
      "socialMediaURL": "https://www.instagram.com/accounts/login/?hl=en",
      "icon": {
        "icon": "fa-instagram",
        "packageId": "25c6efe5-c561-4487-b1df-2f5a63f77baf"
      },
      "target": [
        "_blank"
      ]
    }
  ],
  "settingsData": []
}]]></Value>
    </socialMedia>
    <subTitle>
      <Value><![CDATA[Huzaifa SubTitle]]></Value>
    </subTitle>
    <title>
      <Value><![CDATA[Muhammad Huzaifa]]></Value>
    </title>
  </Properties>
</Content>