<?xml version="1.0" encoding="utf-8"?>
<Content Key="e3bb0c65-7228-4a9e-ad1f-4445c7179860" Alias="Search" Level="2">
  <Info>
    <Parent Key="b13956c6-b098-4c5c-8951-9f78412384b3">Home</Parent>
    <Path>/Home/Search</Path>
    <Trashed>false</Trashed>
    <ContentType>search</ContentType>
    <CreateDate>2024-04-22T16:42:15</CreateDate>
    <NodeName Default="Search" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2474367e-90f9-4d1d-a300-642a7a7d6b18">Search</Template>
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[]]></Value>
    </author>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <displayOnNavbar>
      <Value><![CDATA[0]]></Value>
    </displayOnNavbar>
    <pageBanner>
      <Value><![CDATA[[
  {
    "key": "df9db8ab-1634-433d-ba80-3c34bcaf8e60",
    "mediaKey": "f8f51f6b-a816-4233-86cb-eca821198dc9"
  }
]]]></Value>
    </pageBanner>
    <subTitle>
      <Value><![CDATA[Search Page]]></Value>
    </subTitle>
    <title>
      <Value><![CDATA[search]]></Value>
    </title>
  </Properties>
</Content>